
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">@ViewBag.Toplam</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">@ViewBag.Toplam Bildirim</span>
        <div class="dropdown-divider"></div>
        <a href="/Panel/Hizmetlerim/" class="dropdown-item">
            <i class="nav-icon fa fa-server"></i> @ViewBag.Hizmet Yeni Hizmet Mesajı
        </a>
        <div class="dropdown-divider"></div>
        <a href="/Panel/Taleplerim/" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> @ViewBag.Talep Yeni Talep Mesajı
        </a>
        <div class="dropdown-divider"></div>
        @*<a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
        </a>
        <div class="dropdown-divider"></div>*@
        @*<a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>*@
    </div>
</li>
