
@model Panel.Models.TBLHizmet


@using (Html.BeginForm("_TalepOlustur", "Panel", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_1", @enctype = "multipart/form-data" }))
{
    <div class="modal-body">

        <!--Burası İçerisi-->
        <div class="form-group">
            <label>Talep Tipini Seçiniz:</label>
            <select class="form-control select2" name="AliciID" id="AliciID" style="width: 100%;">
                <option selected="" disabled="">Hizmet Seçiniz:</option>
                @foreach (var a in ViewBag.HizmetKategori)
                {
                    <option value="@a.HKategoriID">@a.KategoriAd</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Hizmeti Alacak Firma İsmi:</label>
            <input class="form-control" id="FirmaAdi" name="FirmaAdi" placeholder="Hizmeti Alan Firma İsmi:">
        </div>
        <div class="form-group">
            <label>Hizmeti Alacak Ad Soyad:</label>
            <input class="form-control" id="AdSoyad" name="AdSoyad" placeholder="Hizmeti Alacak Ad Soyad:">
        </div>
        <div class="form-group">
            <label>Telefon Numarası:</label>
            <input class="form-control" id="Telefon" name="Telefon" placeholder="Telefon Numarası:">
        </div>
        <div class="form-group">
            <label>Talebinizi Bize Açıklayın:</label>
            <textarea id="compose-textarea" name="compose" class="form-control" style="height: 300px"></textarea>
        </div>
       



    </div>
    <div class="modal-footer">

        <button type="submit" class="btn btn-primary">Talep Oluştur</button>
    </div>
}
