
@{
    ViewBag.Title = "Index";
}
@section Baslik{<a class="nav-link" data-widget="control-sidebar" data-slide="true"><i class="fa fa-home"></i></a> }
@section sitemap{<i class="fa fa-home"></i> }
@section title{ ÖZET }


<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.HizmetSayi</h3>
                <p>Aktif Hizmet</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="/Panel/Hizmetlerim/" class="small-box-footer">Git
             <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.KalanBorc<sup style="font-size: 20px">₺</sup></h3>
                <p>Ödenmemiş Borç</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/Panel/Hizmetlerim/" class="small-box-footer">Git
             <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.HizmetToplamMesaj</h3>
                <p>Okunmamış Hizmet Mesajı</p>
            </div>
            <div class="icon">
                
                <i class="nav-icon far fa-envelope"></i>
                        </div>
            <a href="/Panel/Hizmetlerim/" class="small-box-footer">Git
            <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.ToplamOkunmamis</h3>
                <p>Okunmamış Mesaj</p>
            </div>
            <div class="icon">
                <i class="nav-icon far fa-envelope"></i>
                        </div>
            <a href="/Panel/Mesajlar/" class="small-box-footer">Git
             <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <a href="/Panel/GonderilenMesaj/" class="info-box-icon bg-info elevation-1"><i class="fa fa-envelope"></i></a>

            <div class="info-box-content">
                <span class="info-box-text">Gönderilen Mesajlar</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <a href="/Panel/Mesajlar/" class="info-box-icon bg-success elevation-1"><i class="fa fa-envelope"></i></a>

            <div class="info-box-content">
                <span class="info-box-text">Gelen Mesajlar</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <a href="/Panel/Taleplerim/" class="info-box-icon bg-warning elevation-1"><i class="fa fa-arrow-circle-right"></i></a>

            <div class="info-box-content">
                <span class="info-box-text">Taleplerim</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <a href="/Panel/TalepOlustur/" class="info-box-icon bg-danger elevation-1"><i class="fa fa-plus-circle"></i></a>

            <div class="info-box-content">
                <span class="info-box-text">Talep Oluştur</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>